@import url(https://fonts.googleapis.com/css?family=Akronim);

* {
    margin: 0;
}
body {
    background-color: rgb(0, 0, 0, 0);

    font-family: 'Montserrat', sans-serif;
}
.content {
    display: inline-flex;
}   

.hud-body {
    width:100%;
    /* border: 2px solid black; */
    overflow:hidden;
}
.hud {
    color: #ffffff;
    min-height: 40px;
    max-height: 40px;
    min-width: 60%;
    max-width: 60%;
    position: absolute;
    background-color: rgb(22, 22, 22);
    border-left:solid 1px #333;
    border-right:solid 1px #333;
    border-top: solid 1px #333;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    left: 20%;
    bottom: 0;
    text-align: center;
    overflow: hidden;
}
.title {
    font-size: 18px;
    line-height: 2.6em;
    padding-right: 3px;
    width: 100px;
    min-width: 100px;
}
.btn {
    max-height: 30px;
    min-height: 30px;
    min-width: 90px;
    padding-left: 4px;
    padding-right: 4px;
    line-height: 2.1em;
    background-color: #0e0e0e;
    border-radius: 4px;
    margin-left: 10px;
    margin-top: 4.2px;
    
}
#balanceimg {
    margin-top: 5px;
    margin-right:10px
}
#icon {
    height: 20px;
    width: 20px;
    margin-bottom: -3px;
    padding-right: 7px;  
}

.name {
    border: 1px solid #10661e;
}

.job {
    border: 1px solid #8c00ff;
}
        
.health {
border: 1px solid #5f0202;
}

.armour {
    border: 1px solid #d9ff00;
}

.hunger {
    border: 1px solid #e68a00;
}

.thirst {
    border: 1px solid #005baf;
}
.cash {
    border: 1px solid #00a838;
}

.bank {
    border: 1px solid #5f0257;
}
.time {
    border: 1px solid #007497;
}

@media screen and (max-width:1399px) and (min-width: 500px)  {

    .hud {
        max-width:75%;
        min-width:66%;
        left: 22%;
        min-height: 30px;
        max-height: 30px;
        font-size: 12px;
        
    }
    #balanceimg {
        margin-left: -10px
    }
    .title {
        font-size: 14px;
        line-height: 2.6em;
        padding-right: 3px;
        width: 100px;
        min-width: 100px;
    }
    .btn {
        max-height: 20px;
        min-height: 20px;
        min-width: 70px;
        max-width: 85px;
        padding-left: 4px;
        padding-right: 4px;
        line-height: 1.9em;
        margin-left: 10px;
        margin-top: 4.2px;
        
    }
    #icon {
        height: 16px;
        width: 16px;
        margin-bottom: -3px;
        padding-right: 7px;  
    }

}